.header-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  width: 50%;
  height: 50px;
  margin-bottom: 10px;
}

.header-options a,
.header-options a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.header-options a {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 110%;
  margin: 0;
}

.header-options h4 {
  font-size: 2.5vh;
}

.loggedIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.loggedIn button {
  margin-bottom: 50px;
  margin-left: 25px;
  border: solid;
  color: white;
}

#users-button,
#account-button {
  margin-right: 15px;
}

.nav li + li {
  margin-top: 25%;
}

header h1 {
  font-size: 4vh;
}

@media all and (max-width: 400px) {
  .header-options {
    align-self: flex-end;
    box-sizing: border-box;
    height: 50px;
    width: 65%;
  }

  .header-options a,
  .header-options a {
    font-size: 15px;
    margin: 0;
  }

  .buttons {
    align-items: flex-end;
  }

  .header-options h4 {
    font-size: 1.8vh;
  }
}
