.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 50%;
  margin-top: 4%;
}

.signup h3 {
  text-align: center;
  font-size: 4vh;
  margin-bottom: 25px;
}

.signup input {
  height: 2em;
  margin-top: 3px;
  border-radius: 3px;
}

.signup label {
  margin-top: 25px;
}

.signup span {
  margin-top: 8px;
}

.signup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 350px;
  height: 2em;
  margin: 50px 10px;
  width: 100%;
}

.signup-buttons button {
  background-color: rgba(163, 22, 219, 0.925);
  border: none;
  width: 120px;
  height: 1.8em;
  outline: none;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(95, 0, 95);
  border-radius: 3px;
}

.signup-buttons button + button {
  margin-left: 25px;
}

.signup button:hover {
  background-color: rgba(238, 56, 245, 0.699);
  border-color: rgba(238, 56, 245, 0.699);
}

.signup button:active {
  transform: scale(0.92);
}

#usernameTaken,
#emailTaken {
  color: red;
}

@media all and (max-width: 400px) {
  .signup {
    width: 100%;
  }

  .signup h3 {
    font-size: 3.2vh;
    margin-bottom: 30px;
  }

  .signup-buttons {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
  }

  .signup button {
    margin: 50px 10px;
    min-height: 1.5em;
    width: 100px;
    height: 1.8em;
    font-size: 18px;
  }
}
