html,
body,
#root,
main {
  background-color: #c8529b;

  box-sizing: border-box;
  min-height: 100%;
  height: fit-content;
  /* height: 100%; */
  margin: 0;
}
body {
  height: 100vh;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  width: 100%;
  margin-bottom: 50px;
}
